<?xml version="1.0" encoding="UTF-8"?>
<package 
  xmlns="http://expath.org/ns/pkg" name="@package.namespace@"
  abbrev="@package.target@" version="@package.version@" spec="1.0">
  <title>@package.title@</title>
  <dependency processor="http://exist-db.org" semver-min="5.3.0-SNAPSHOT"/>
  <dependency package="http://expath.org/ns/crypto" semver-min="6.0.0-SNAPSHOT"/>
  <xquery>
    <namespace>@package.namespace@</namespace>
    <file>@package.export@</file>
  </xquery>
</package>
